.mainWindowButtonHover:hover {
    -fx-background-color: linear-gradient(#75E5FF, #75E5FF),
    linear-gradient(#75E5FF, #75E5FF),
    linear-gradient(#75E5FF, #75E5FF),
    linear-gradient(#75E5FF 0%, #75E5FF 50%, #75E5FF 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.mainWindowButtonColor {

    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.greenButton {
    -fx-background-color: linear-gradient(#f0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #395306;
}

.redButton {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.greenButtonHover:hover {
    -fx-background-color: linear-gradient(#35b8ff, #35b8ff);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.redButtonHover:hover {

    -fx-background-color: linear-gradient(#35b8ff, #35b8ff),
    radial-gradient(center 50% -40%, radius 200%, #35b8ff 45%, #35b8ff 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #395306;
}

.text-field {
    -fx-background-color: linear-gradient(#0f8787, #0f8787),
    radial-gradient(center 50% -40%, radius 200%, #f7faf9 45%, #f7faf9 50%);
    -fx-background-radius: 15;
}
